:root {
    --elevation-0: #000000;
    --elevation-1: #111;
    --elevation-2: #222;
    --elevation-3: #2d2d2d;
    --elevation-4: #333;

    --text-primary: #aaa;

    --accent-0: #79a267;
    --accent-0-dark: #4a653d;
    --accent-1: #fde87b;
    --accent-1-dark: #bfae4e;
    --accent-2: #00f6ff;
    --accent-2-dark: #0099a8;
    --accent-3: #ff9100;
    --accent-3-dark: #b35c00;

    --base-spacing: 8px;
    --base-radius: 4px;

    --hover-timing: 0.1s;
}

body {
    background-color: var(--elevation-0);
    color: var(--text-primary);
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    font-size: 10px;
    text-transform: lowercase;
}

::-webkit-scrollbar {
    display: none;
}
